<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>change password</title>
</head>
<body>
	<h1>Change your own password</h1>
	<form action="#" method="post" th:action="@{/changepassword}" th:object="${person}">
	
	<input type = "password" th:field="*{password}" class = "form-control" 
		placeholder = "Enter your new password"></input>
		
		<button type="submit">Change password</button>
	</form>
	
	<form action="#" method="get" th:action="@{/backtoadmin}">
		<span><input type="submit" th:value="Back"></input></span>
	</form>	
</body>
</html>