<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>course by name</title>
</head>
<body>
	<h1>Result Course By Name</h1>
	
	<form action="#" method="post" th:action="@{/resultcoursebyname}" th:object="${course}">
		
	<table>
			    <tr>
		            <th class="text-left">ID</th>
		            <th class="text-left">Short Title</th>
		            <th class="text-left">Long Title</th>
		            <th class="text-left">Number of days</th>
		            <th class="text-left">Price per day</th>
		        </tr>
				<tr>
		            <td th:text="${courseId}"></td>
		            <td th:text="${shortTitle}"></td>
		            <td th:text="${longTitle}"></td>
		            <td th:text="${numberOfDays}"></td>
		            <td th:text="${pricePerDay}"></td>
				</tr>
			
	</table>
	</form>

	
	<form action="#" method="get" th:action="@{/backtosearchforcourses}">
		<span><input type="submit" th:value="Back"></input></span>
	</form>	
	
</body>
</html>